extends ../layout

block content
  .row(ng-controller="driverListCtrl")
    .col-sm-12
      h2.text-danger.text-center
        | List of Drivers
    .col-sm-6
      p= drivers.length
        |  drivers have registered
    .col-sm-6
      a.btn.btn-primary.pull-right(ng-click="getAllDriversPDF()")
        | Download pdf
      
  .container
    - if (drivers.length)
      table.table.table-hover
        thead
          tr
            th.hidden-xs Driver ID
            th Fullname
            th Email
            th Phone
            th.hidden-xs Action

        each driver in drivers
          tbody
            tr
              td.hidden-xs= driver.displayId
              td= driver.fullname
              td= driver.email
              td= driver.phone
              td.hidden-xs
                a.btn.btn-danger.delete(href='./delete/' + driver.personId) delete
              
    - else
      .alert.alert-info
        strong
          | Sorry!
        |  No driver has registered yet!
