extends ../layout

block content
  .row(ng-controller="hostListCtrl")
    .col-sm-12
      h2.text-danger.text-center
        | List of Hosts
    .col-sm-6
      p= hosts.length
        |  hosts have registered
    .col-sm-6
      a.btn.btn-primary.pull-right(ng-click="getAllHostsPDF()")
        | Download pdf
      
  .container
    - if (hosts.length)
      table.table.table-hover
        thead
          tr
            th.hidden-xs Host ID
            th Fullname
            th Email
            th Phone
            th.hidden-xs Action
            
        each host in hosts
          tbody
            tr
              td.hidden-xs= host.displayId
              td= host.fullname
              td= host.email
              td= host.phone
              td.hidden-xs
                a.btn.btn-danger.delete(href='./delete/' + host.personId) delete
    - else
      .alert.alert-info
        strong
          | Sorry!
        |  No host has registered yet!
