extends layout

block content
  - if (students.length)
    table.table.table-hover
      thead
        tr
          th Date
          th Fullname
          th major
          th Email
          th Phone
          th country
          //- th interest
          //- th action

      each student in students
        tbody
          tr
            td= student.date
            td= student.fullname
            td= student.major
            td= student.email
            td= student.phone
            //- td= student.country
            //- td.interest-list
            //-   each interest in student.interests
            //-     span.label.label-primary.interest-list-item= interest
            //- //- td
            //- //-   a.btn.btn-danger(href='./delete/' + student.studentId) delete
  - else
    .alert.alert-info
      strong
        | Sorry!
      |  No one has registered yet!
