extends ../layout

block content
  - if (students.length)
    .row(ng-controller="studentListCtrl")
      a.btn.btn-primary.pull-right(ng-click="getAllStudentsPDF()")
        | Download pdf
      
    table.table.table-hover(data-toggle="table")
      thead
        tr
          th.hidden-sm.hidden-xs Date
          th(data-sortable="true") Fullname
          th.hidden-xs(data-sortable="true") major
          th.hidden-xs(data-sortable="true") Email
          th Phone
          th(data-sortable="true") Country
          th.hidden-xs(data-sortable="true") University
          th.hidden-sm.hidden-xs Interest
          th.hidden-xs Action

      each student in students
        tbody
          tr
            td.hidden-sm.hidden-xs= student.date
            td= student.fullname
            td.hidden-xs= student.major
            td.hidden-xs= student.email
            td= student.phone
            td= student.country
            td.hidden-xs= student.university
            td.hidden-sm.hidden-xs.interest-list
              each interest in student.interests
                span.label.label-primary.interest-list-item= interest
            td.hidden-xs
              a.btn.btn-danger.delete(href='./delete/' + student.studentId) delete
  - else
    .alert.alert-info
      strong
        | Sorry!
      |  No student has registered yet!
