extends ../layout

block content
  .row(ng-controller="studentListCtrl")
    .col-sm-12
      h2.text-danger.text-center
        | List of Students
    .col-sm-6
      p= students.length
        |  students have registered
    .col-sm-6
      a.btn.btn-primary.pull-right(ng-click="getAllStudentsPDF()")
        | Download pdf
        
  .container
  - if (students.length)
    table.table.table-hover
      thead
        tr
          th.hidden-sm.hidden-xs Date
          th Fullname
          th.hidden-xs major
          th.hidden-xs Email
          th Phone
          th Country
          th.hidden-xs University
          th.hidden-sm.hidden-xs Interest
          th.hidden-xs Action

      each student in students
        tbody
          tr
            td.hidden-sm.hidden-xs= student.date
            td= student.fullname
            td.hidden-xs= student.major
            td.hidden-xs= student.email
            td= student.phone
            td= student.country
            td.hidden-xs= student.university
            td.hidden-sm.hidden-xs.interest-list
              each interest in student.interests
                span.label.label-primary.interest-list-item= interest
            td.hidden-xs
              a.btn.btn-danger.delete(href='./delete/' + student.studentId) delete
  - else
    .alert.alert-info
      strong
        | Sorry!
      |  No student has registered yet!
